.hukamnama-btn{
  display:inline-block;
  background:#4caf75;
  color:#fff;
  padding:12px 20px;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  margin-top:10px;
}

.hukamnama-btn:hover{
  background:#3c8f63;
}
.hukamnama-card{
  margin-top:30px;
  margin-bottom:40px;
}

.card{
  clear:both;
}
.card {
  width: 100%;
  box-sizing: border-box;
}


