.hukamnama-btn{
  display:inline-block;
  background:#4caf75;
  color:#fff;
  padding:12px 20px;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  margin-top:10px;
}

.hukamnama-btn:hover{
  background:#3c8f63;
}
.hukamnama-card{
  margin-top:30px;
  margin-bottom:40px;
}

.card{
  clear:both;
}
.card {
  width: 100%;
  box-sizing: border-box;
}

<style>
.logo img {
  height: 70px;
  width: auto;
}

.logo {
  text-align: center;
  padding: 10px 0;
}
</style>
<style>

/* Navbar Style */
.navbar {
  background: #1e5631;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  display: block;
  font-weight: bold;
}

.navbar ul li a:hover {
  background: #163d24;
  border-radius: 5px;
}

/* Dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background: #2e7d32;
  min-width: 200px;
  top: 40px;
  left: 0;
  border-radius: 5px;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  padding: 10px;
  text-align: left;
}

/* Hover Effect */
.dropdown:hover .dropdown-menu {
  display: block;
}

</style>
